/* The Organic design system's two families, self-hosted so the browser never
 * asks a third party for them. Both are SIL Open Font License 1.1; the
 * licences sit beside the files. Latin subset only — it covers the accented
 * Latin-1 letters the copy uses ("Résumé"). */

@font-face {
  font-family: "Caprasimo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/caprasimo-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/figtree-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/figtree-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/figtree-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/figtree-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/figtree-latin-800-normal.woff2") format("woff2");
}
